albumentations
fastapi
fightingcv_attention
gradio
gradio_imageslider
matplotlib
mediapipe
numpy
opencv_contrib_python
opencv_python
opencv_python_headless
pandas
Pillow
positional_encodings
qdrant_client
Requests
scikit_learn
seaborn
timm
torch
torchvision
tqdm
tritonclient
umap_learn
uvicorn
wandb
xformers
